{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="title-container">
        <h1>Recipes list</h1>
    </div>
    <div class="logout-link">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="home-link">
        <a href="{% url 'recipes:home' %}">Home</a>
    </div>
    <table class="recipe-table">
        <tr>
            <th>Recipe's Name</th>
            <th>Recipes's Image</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
            <td><img src="{{ object.pic.url }}" class="recipe-image"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
