{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="title-container green-background">
        <h1>Recipes list</h1>
    </div>
   <div class = "middle">
    <div class="search-form">
        <form method="GET" action="{% url 'recipes:list' %}">
            <input type="text" name="q" placeholder="Search...">
            <input type="radio" name="search_type" value="name"> By Name
            <input type="radio" name="search_type" value="ingredient"> By Ingredient
            <button type="submit">Search</button>
            <a href="{% url 'recipes:list' %}" style="color: #fff; text-decoration: none; " class="btn">Show All Recipes</a>
        </form>
    </div>
    <div class="links">
        
        <div class="home-link">
            <a href="{% url 'recipes:home' %}" style="color: #fff;text-decoration: none; ">Home</a>
        </div>
        <div class="logout-link">
            <a href="{% url 'logout' %}" style="color: #fff;text-decoration: none; ">Logout</a>
        </div>
    </div>
</div>
    <div class="card-container">
        {% if object_list %}
            {% for object in object_list %}
                <div class="card-hover">
                    <div class="card-hover__content">
                        <h3 class="card-hover__title">{{ object.name }}</h3>
                        <a href="{{ object.get_absolute_url }}" class="card-hover__link">
                            <span>View Recipe</span>
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                            </svg>        
                        </a>
                    </div>
                    <div class="card-hover__extra">
                        <p class="card-hover__text">Click to view details</p>
                    </div>
                    <img src="{{ object.pic.url }}" alt="{{ object.name }}">
                </div>
            {% endfor %}
        {% else %}
            <p>No recipes found.</p>
        {% endif %}
    </div>
    
    
</body>
</html>


   
