{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tasty Delights</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_home.css' %}">

    
</head>
<body>

    <header>
        <h1>Welcome to Tasty Delights</h1>
        <p>Discover and share your favorite recipes with the world</p>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="{% url 'login' %}">Login</a>
        <a href="/recipes/list/">Explore Recipes</a>
        <a href="{% url 'about_me' %}">About Me</a>
    </nav>
    
    <div class="main-content">
        <p>Start exploring delicious recipes now!</p>
        

        <!-- Recipe Row -->
        <div class="recipe-row">
            <div class="recipe-slot">
                <img src="../../../media/A_small_cup_of_coffee.JPG" alt="Recipe 1" class="recipe-image">
            </div>
            <div class="recipe-slot">
                <img src="../../../media/banana-split-index-6478e3976e52d.jpg" alt="Recipe 2" class="recipe-image">
            </div>
            <div class="recipe-slot">
                <img src="../../../media/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg" alt="Recipe 3" class="recipe-image">
            </div>
            <div class="recipe-slot">
                <img src="../../../media/cookies.jpeg" alt="Recipe 4" class="recipe-image">
            </div>
            <div class="recipe-slot">
                <img src="../../../media/different-types-of-tea-FT-BLOG0621-7c7fd231e66d4fea8ca9a47cad52ba79.jpg" alt="Recipe 5" class="recipe-image">
            </div>
        </div>
    </div>

</body>
</html>
