{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tasty Delights</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style_home.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Welcome to Tasty Delights</h1>
            <p>Discover and share your favorite recipes with the world</p>
        </div>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="{% url 'login' %}">Login</a>
        <a href="/recipes/list/">Explore Recipes</a>
        <a href="{% url 'about_me' %}">About Me</a>
    </nav>
    
    <div class="main-content">
        <div class="quote-overlay">
            <p>"The perfect meal, or the best meals, occur in a context that frequently has very little to do with the food itself"</p>
            <p>- Anthony Bourdain</p>
        </div>
        
    </div>

</body>
</html>