body {
    background-image: url('../media/pexels-valeria-boltneva-1639556.jpg'); /* Adjust the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    margin: 0 auto;
    max-width: 500px; /* Adjust to your preference */
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: white;
}

input[type="text"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: rgba(220, 18, 18, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgba(220, 18, 18, 0.5);
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: none; /* Remove underline */
}

.links a:hover {
    text-decoration: underline; /* Add underline on hover */
}
