{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <!-- Include a CSS file for styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/about_me_styles.css' %}">
</head>
<body>

<div class="about-me-container">
    <div class="about-me-left">
        <img src="{% static 'images/profile_placeholder.jpg' %}" alt="Profile Picture" class="profile-image">
    </div>
    <div class="about-me-right">
        <h2>I'm Giacomo Duca, a passionate junior web developer eager to contribute my skills to innovative projects.</h2>
        <p>With expertise in a variety of technologies, including:</p>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript (ES6+)</li>
            <li>React.js</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>Python</li>
            <li>Django</li>
            <li>RESTful APIs</li>
            <li>Git version control</li>
        </ul>
        <a href="https://tinkjimmy.github.io/Portfolio-Website/">Check some of my code here</a>
    </div>

    


</div>


</body>
</html>
